---
import "../../styles/global.css";
import Layout from "../../layouts/Layout.astro";
import {carta_bar} from "../../data/carta";
import {setIdioma} from "../../utils/i18n";
import Header from "../../components/Header.astro";
import ElegirCategoria from "../../components/ElegirCategoria.astro";

setIdioma('en');
---

<Layout>
  <Header mostrarTodo={true} />
  <main class="h-full flex flex-col flex-1 overflow-y-auto py-5 px-8 gap-4">
    {carta_bar.map((categoria) => <ElegirCategoria categoria={categoria} />)}
  </main>
</Layout>
