---
import type { IProducto } from "../interfaces/Producto";
import {traducir} from "../utils/i18n";

const producto = Astro.props as IProducto;
---

<div class="px-4 py-3">
  <div class="flex flex-row justify-between">
    <h3 class="text-xl font-bold">{traducir(producto.nombre)}</h3>
    <span class="text-lg font-semibold w-10">{producto.precio} €</span>
  </div>
  {
    producto.descripcion && (
      <p class="text-gray-400 text-sm mt-1">{traducir(producto.descripcion)}</p>
    )
  }
</div>
